## Intro Pandas

In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ['a', 'b', 'c']

In [3]:
mylist = [10, 20, 30]

In [4]:
arr = np.array(mylist)

In [5]:
arr

array([10, 20, 30])

In [6]:
d = {'a' : 10, 'b' : 20, 'c' : 30}

In [14]:
data = pd.Series(data=mylist, index=labels)

In [49]:
ser1 = pd.Series([1,2,3,4], index=['USA', 'Germany', 'USSR', 'Japan'])

In [50]:
ser1[:]

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [51]:
ser2 = pd.Series([1,4,5,6], index=['Brazil', 'Germany', 'Italy', 'Japan'])

In [52]:
ser2

Brazil     1
Germany    4
Italy      5
Japan      6
dtype: int64

In [53]:
ser1 + ser2

Brazil      NaN
Germany     6.0
Italy       NaN
Japan      10.0
USA         NaN
USSR        NaN
dtype: float64